Repository cappuccino/cappuccino, pull requests merged in 2018-04, with the labels that each got.

#2602 FIXED: click to key window in the background did not bring it forward
  AppKit/CPWindow/CPWindow.j
  Tests/Manual/KeyWindowInTheBackgroundActivation/AppController.j
  Tests/Manual/KeyWindowInTheBackgroundActivation/Info.plist
  Tests/Manual/KeyWindowInTheBackgroundActivation/Jakefile
  Tests/Manual/KeyWindowInTheBackgroundActivation/Resources/MainMenu.cib
  Tests/Manual/KeyWindowInTheBackgroundActivation/Resources/MainMenu.xib
  Tests/Manual/KeyWindowInTheBackgroundActivation/index-debug.html
  Tests/Manual/KeyWindowInTheBackgroundActivation/index.html
  Tests/Manual/KeyWindowInTheBackgroundActivation/main.j
Labels: #needs-review, AppKit

#2582 fixed: TextView bindings wrote data on blur even when not editable
  AppKit/CPTextView/CPTextView.j
Labels: #ready-to-commit, TextView, bindings

#2677 Animating frame origin was not working on recent FireFox versions
  AppKit/CoreAnimation/CPViewAnimator.j
Labels: #ready-to-commit, AppKit

#2678 Fix: CPTabview placeholderView inconsistent variable name case
  AppKit/CPTabView.j
Labels: #new

#2613 NEW: Add CSS theming support
  AppKit/CPColor.j
  AppKit/CPImage.j
  AppKit/CPImageView.j
  AppKit/CPTheme.j
  AppKit/CPThemeBlend.j
  AppKit/CPView.j
  AppKit/_CPImageAndTextView.j
  AppKit/_CPObject+Theme.j
Labels: #needs-review, Theme
