Repository cappuccino/cappuccino, pull requests merged in 2019-11, with the labels that each got.

#2860 clearsFilterPredicateOnInsertion option is for insertion only
  AppKit/CPArrayController.j
  Tests/AppKit/CPArrayControllerTest.j
Labels: #new

#2868 Fixed: Let the text field handle key commands when it is selectable
  AppKit/CPTextField.j
Labels: #ready-to-commit, AppKit

#2867 Fixed: In modal mode a focus event will make the modal window the key window
  AppKit/Platform/DOM/CPPlatformWindow+DOM.j
Labels: #ready-to-commit, AppKit

#2854 New: Allow lazy loading control for combined observer key paths
  Foundation/CPKeyValueObserving.j
Labels: #ready-to-commit, bindings
