Repository cappuccino/cappuccino, pull requests merged in 2019-12, with the labels that each got.

#2875 fixed: Added underline support in CPTextView
  AppKit/CPText.j
  AppKit/CPTextView/CPLayoutManager.j
  AppKit/CPTextView/CPTextView.j
  Tests/AppKit/CPTextViewTest.j
Labels: #ready-to-commit, TextView

#2866 Fixed: CPSet enumerateObjectsUsingBlock: will honor the stop variable
  Foundation/CPSet/_CPSet.j
  Tests/Foundation/CPSetTest.j
Labels: Foundation

#2878 FIXED: Before this PR, disabled buttons that were continuous responded to mouse clicks
  AppKit/CPButton.j
Labels: #new

#2872 fixed: attachment support was missing in CPTextView
  AppKit/CPPasteboard.j
  AppKit/CPText.j
  AppKit/CPTextView/CPLayoutManager.j
  AppKit/CPTextView/CPTextStorage.j
  AppKit/CPTextView/CPTextView.j
  AppKit/CPTextView/CPTypesetter.j
  Tests/AppKit/CPTextViewTest.j
  Tests/Manual/CPTextView/AppController.j
Labels: #ready-to-commit, TextView
