Repository cappuccino/cappuccino, pull requests merged in 2022-03, with the labels that each got.

#2963 New: Support to compile deep structured project in the web browser
  AppKit/Info.plist
  CommonJS/bin/flatten
  Foundation/Info.plist
  Objective-J/Bootstrap.js
  Objective-J/CFBundle.js
  Objective-J/CFDictionary.js
  Objective-J/CommonJS/lib/objective-j.js
  Objective-J/CommonJS/lib/objective-j/compiler.js
  Objective-J/CommonJS/lib/objective-j/jake/bundletask.js
  Objective-J/Executable.js
  Objective-J/FileExecutable.js
  Objective-J/OldBrowserCompatibility.js
  Objective-J/StaticResource.js
Labels: tools, Objective-J

#3017 fixed: freeze when clicking during sheet animation
  AppKit/CPWindow/CPWindow.j
Labels: #new

#3026 Update README.markdown for system requirements
  README.markdown
Labels: #new

#3022 fixed: caret was blinking in non-editable text in CPTextView
  AppKit/CPTextView/CPTextView.j
  Tests/Manual/CPTextView/AppController.j
  Tests/Manual/CPTextView/index.html
Labels: #ready-to-commit, TextView

#3020 fixed: key event issues of handling escape in recent firefox …
  AppKit/Platform/DOM/CPPlatformWindow+DOMKeys.j
Labels: AppKit, FireFox

#2996 CPBox: Suppress superfluous warnings and expand documentation
  AppKit/CPBox.j
Labels: AppKit, #ready-to-commit, documentation

#3016 fixed: usage of eval instead of JSON.parse for parsing JSON
  AppKit/CPColorPanel.j
Labels: AppKit, #accepted

#2998 Modernise "document.write" in «index.html» to "innerHTML"
  Tools/capp/Resources/Templates/Application/index-debug.html
  Tools/capp/Resources/Templates/Application/index.html
  Tools/capp/Resources/Templates/NibApplication/index-debug.html
  Tools/capp/Resources/Templates/NibApplication/index.html
  Tools/capp/Resources/Templates/ThemeDescriptor/index-debug.html
  Tools/capp/Resources/Templates/ThemeDescriptor/index.html
Labels: tools, #accepted

#2994 FIXED: Before this PR, nib2cib failed if a color well or a scrollable text view was added in a CPBox
  AppKit/CPView.j
Labels: tools, #ready-to-commit

#2966 FIXED: Before this PR, CGContextSetShadow wasn't initializing the shadow color
  AppKit/CoreGraphics/CGContextCanvas.j
Labels: #ready-to-commit, Theme

#2992 FIXED: Before this PR, CPBox followed the autoresizesSubviews flags while Cocoa NSBox always autoresizes its subviews, whatever the flag is set to.
  AppKit/CPBox.j
Labels: AppKit

#2979 Add additional manual test for scaleUnitSquareToSize
  Tests/Manual/ScalingTest2/AppController.j
  Tests/Manual/ScalingTest2/Info.plist
  Tests/Manual/ScalingTest2/Jakefile
  Tests/Manual/ScalingTest2/PagePreviewController.j
  Tests/Manual/ScalingTest2/README.txt
  Tests/Manual/ScalingTest2/Resources/MainMenu.cib
  Tests/Manual/ScalingTest2/Resources/MainMenu.xib
  Tests/Manual/ScalingTest2/Resources/WidgetsLayout.cib
  Tests/Manual/ScalingTest2/Resources/WidgetsLayout.xib
  Tests/Manual/ScalingTest2/WidgetsLayout.j
  Tests/Manual/ScalingTest2/index-debug.html
  Tests/Manual/ScalingTest2/index.html
  Tests/Manual/ScalingTest2/main.j
Labels: #ready-to-commit

#2991 Fixed: Basic support for on/off/mixed state images for menuitems from IB
  AppKit/CPMenuItem/CPMenuItem.j
  AppKit/CPMenuItem/_CPMenuItemStandardView.j
  AppKit/Cib/_CPCibCustomResource.j
  Tools/nib2cib/NSCustomResource.j
  Tools/nib2cib/NSMenuItem.j
Labels: tools

#2975 fixed: width of text sizing was slightly off in chrome
  AppKit/CPSegmentedControl.j
  AppKit/CPStringDrawing.j
  AppKit/CPTextField.j
  AppKit/CPTextView/CPTypesetter.j
  AppKit/Platform/DOM/CPPlatformString.j
  AppKit/_CPToolTip.j
  Tests/Manual/CPTextView/AppController.j
Labels: #ready-to-commit, Chrome, TextView

#2965 FIXED: Before this PR, imagesize would provide image size in points (that is, taking care of the image resolution) instead of pixels
  Tools/imagesize/imagesize.m
Labels: tools, #ready-to-commit

#2914 Aristo3: various _CPImageAndTextView bugs
  AppKit/_CPImageAndTextView.j
  Tests/Manual/CPImageAndTextViewImageScaling/AppController.j
  Tests/Manual/CPImageAndTextViewImageScaling/Info.plist
  Tests/Manual/CPImageAndTextViewImageScaling/Jakefile
  Tests/Manual/CPImageAndTextViewImageScaling/Resources/MainMenu.cib
  Tests/Manual/CPImageAndTextViewImageScaling/Resources/MainMenu.xib
  Tests/Manual/CPImageAndTextViewImageScaling/Resources/cat.jpg
  Tests/Manual/CPImageAndTextViewImageScaling/Resources/little.png
  Tests/Manual/CPImageAndTextViewImageScaling/index-debug.html
  Tests/Manual/CPImageAndTextViewImageScaling/index.html
  Tests/Manual/CPImageAndTextViewImageScaling/main.j
Labels: Theme, #needs-ui-test

#3014 Fixed: Correct init of CPTextView when running nib2cib
  Tools/nib2cib/NSTextView.j
Labels: #ready-to-commit, TextView

#3023 Fixed: New Cocoa api that replace old deprecated for calculating size of scroll view
  AppKit/CPScrollView.j
  AppKit/CPScroller.j
Labels: #new

#2680 Changed Cappuccino.doxygen EXCLUDE_PATTERNS to exclude nothing.
  Tools/Documentation/Cappuccino.doxygen
  Tools/Documentation/preprocess/002.make_headers.sh
Labels: #needs-review, documentation, #needs-improvement

#2903 removed: Flash support
  AppKit/AppKit.j
  AppKit/CPFlashMovie.j
  AppKit/CPFlashView.j
  AppKit/CoreAnimation/CAFlashLayer.j
  Tests/Manual/CPFlashviewTest/AppController.j
  Tests/Manual/CPFlashviewTest/Info.plist
  Tests/Manual/CPFlashviewTest/Jakefile
  Tests/Manual/CPFlashviewTest/Resources/spinner.gif
  Tests/Manual/CPFlashviewTest/index-debug.html
  Tests/Manual/CPFlashviewTest/index.html
  Tests/Manual/CPFlashviewTest/main.j
Labels: #needs-review, AppKit

#2917 FIXED: This PR adapts views and custom views decoding to fix "not ready view" bugs.
  AppKit/CPView.j
  AppKit/Cib/_CPCibCustomView.j
Labels: #new
